* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  min-width: 1200px;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.p-left {
  padding-left: 16px;
}
/* navbar start */

.full-width {
  width: 100%;
}
.container {
  width: 1280px;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.header {
  background-color: #1c1e53;
  min-height: 90px;
  padding: 15px 10px;
}

.navbar {
  display: flex;
  padding: 15px 0;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #bbbbcb;
  padding: 0 15px;
  transition: all 0.2s ease;
}
.navbar li a:hover {
  color: #fff;
}

.contact_btn a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 48px;
  padding: 15px 45px;
  border: 2px solid #f4f6fc33;
  border-radius: 40px;
  transition: all 0.3s ease;
}
.contact_btn a:hover {
  color: #1c1e53;
  background: #fcd980;
}

/* ===============navbar end================== */

/* ==============hero section start=================== */

.hero {
  padding: 120px 0;
  background: #1c1e53;
}

.hero-left {
  max-width: 580px;
  margin-right: 30px;
}

.hero-left h1 {
  font-size: 54px;
  font-weight: 600;
  color: #fff;
}
.hero-left p {
  font-size: 16px;
  font-weight: 500;
  color: #bbbbcb;
}
.cta-group {
  margin-top: 48px;
  display: flex;
}
.view-work-btn {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding: 15px 45px;
  border: 2px solid #f4f6fc33;
  border-radius: 40px;
  transition: all 0.3s ease;
}
.view-work-btn:hover {
  color: #1c1e53;
  background: #fcd980;
}
.view-pricing-btn {
  font-size: 16px;
  font-weight: 500;
  color: #f4f6fc;
  padding: 15px;
}

.view-pricing-btn:hover {
  color: #fcd980;
}

.hero-right img {
  width: 100%;
}
/* ======hero section end========= */
/* ======work section start======= */
.work {
  padding: 120px 0;
  background-color: #f4f6fc;
}
.work-left {
  padding-right: 140px;
}
.work-left h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  color: #282938;
}
.work-left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #282938;
  padding: 16px 0;
}
.work-left a {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  color: #5239fa;
  transition: all 0.2s ease;
}
.work-left a:hover {
  color: #2405f2;
}
.work-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
}
.step {
  padding: 25px;
}
.step-no {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #5239fa;
  border-radius: 12px;
  overflow: hidden;
}

.step-no::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 8px;
  background-color: #fcd980;
}
.step-no::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 18%;
  left: 18%;
  background-color: #5239fa;
  border-radius: 0 0 0 8px;
}
.step-no h4 {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #fff;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.step h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  color: #282938;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 16px 0;
}
.step p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #282938;
}
/* ========woek section end ================ */
/* ====== proeject section start ========== */
.project .container {
  flex-direction: column;
  padding: 128px 0;
}
.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 64px;
}
.project-header h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  color: #282938;
}
.project-header a {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #282938;
}
.project-header a:hover {
  color: #5239fa;
}

.project-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
}
.project-left {
  position: relative;
  width: 100%;
  height: 93%;
  overflow: hidden;
}
.project-left img {
  width: 100%;
  object-fit: cover;
}

.overlay-content-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #1c1e536b, #1c1e53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.project-left:hover .overlay-content-left {
  transform: translateX(0%);
}
.overlay-content-left h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
  padding: 120px 35px 8px 35px;
}
.overlay-content-left p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #fff;
  padding: 8px 35px 20px 35px;
}
.overlay-content-left a {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #fcd980;
  padding: 20px 35px 0 35px;
}
.project-right {
  display: grid;
  gap: 32px;
  height: 93%;
}
.project-right-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.project-right-wrapper img {
  width: 100%;
  object-fit: cover;
}
.overlay-content-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #1c1e536b, #1c1e53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-110%);
  transition: transform 0.5s;
}

.project-right-wrapper:hover .overlay-content-right {
  transform: translateY(0%);
}
.overlay-content-right h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
  padding: 120px 40px 5px 40px;
}
.overlay-content-right a {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #fcd980;
  padding: 5px 40px 0 40px;
  transition: all 0.3s ease;
}
/* ========= project section end=================== */
.feature .container {
  flex-direction: column;
}
.feature {
  background: #f4f6fc;
}
.feature-header {
  margin: 0 auto;
  padding: 120px 0 20px 0;
}
.feature-header h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #282938;
  text-align: center;
}
.feature-header h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  color: #282938;
  text-align: center;
  padding: 0 310px;
}
.feature-body {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 120px 0;
}
.feature-item {
  background-color: #fff;
  padding: 50px 40px;
}
.feature-item h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #282938;
  margin: 20px 0 10px 0;
}
.feature-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  color: #282938;
}
/* ============= feature section end ================ */
/* ========== testimonial section start ============ */
.testimonial {
  background: #fafbfe;
}
.testimonial .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  padding: 120px 0 120px 0;
}

.testimonial-left {
  padding-right: 50px;
}

.testimonial-left h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  color: #282938;
}
.testimonial-left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #282938;
  padding-top: 16px;
}
.testimonial-right h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  color: #282938;
}
.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 48px;
}
.author-image {
  width: 52px;
  height: 52px;
}
.author-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.author-content {
  padding-left: 15px;
}
.author-content h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #282938;
}
.author-content p {
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  color: #282938;
}
/* ========== testimonial section end ============ */
/* ============== faq section start ================= */
.faq {
  background: #fff;
}
.faq .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  padding: 120px 0 ;
}
.faq-left h3{
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  color: #282938;
}
.faq-left a{
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #2405f2;
}
.accordian{
  display: flex;
  flex-direction: column;
  
}

.question{
  display: flex;
  /* margin: 0 auto; */
  /* gap: 56px; */
  justify-content: flex-start;
  align-items: center;
}
.question span{
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #2405f2;
  margin-right: 24px;
}
.question h4{
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #282938;
  margin-left: 24px;
}
.question svg{
  margin-left: auto;
  width: 16px;
  height: 16px;
  color: #282938;
  opacity: 0.7;
}
.answer{
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.answer p{
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #282938;
  margin-left: 80px;
}
.faq-item{
  padding: 30px;
  border-bottom: 2px solid #ececf1;
  cursor: pointer;
}
.faq-item.active .answer{
  max-height: 300px;
  padding: 16px 0;
  opacity: 0.8;
}
/* ============== faq section end ================= */
